html,
body {
  height: 100%;
}

a:hover, a h1:hover {
  opacity: 0.75;
}

a {
  text-decoration: none;
  color: #001eff;
}

body {
  background: #333;
  margin: 0;
  padding: 0;
  font-family: -apple-system, 'Fira Sans', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: goodtimes, sans-serif;
}
